*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font: normal 16px sans-serif;
    color: white;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    opacity: 0.75;
    color: #fff;
}

a:hover{
    opacity: 1;
}

.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

hr {
    width: 250px;
    height: 3px;
    background-color: #3f51b5;
    border: 0;
    margin-bottom: 50px;
}

section h3.title {
    text-transform: capitalize;
    font: bold 32px "open Sans", sans-serif;
    margin-bottom: 30px;
    text-align: center;
}

section p {
    max-width: 775;
    line-height: 2;
    padding: 0 20px;
    margin-bottom: 30px;
    text-align: center;
}

a.btn {
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background-color: #3f51b5;
    opacity: 1;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 80px;
}

section:not(.hero):nth-child(even){
    background-color: #f5f5f5;
}

@media (max-width: 800px) {
    section {
        padding: 50px 20px;
    }
}


.hero {
    position: relative;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    color: #fff;
}

.hero .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(A_banner.jpg);
    background-size: cover;
    z-index: -1;
    background-color: #80a3db;
}

.hero h1 {
    font: bold 60px "Open Sans", sans-serif;
    margin-bottom: 15px;
}

.hero h3 {
    font: bold 28px "Open Sans", sans-serif;
    margin-bottom: 40px;

}

.hero a.btn {
    padding: 20px 46px;
}

.hero-content-area {
    opacity: 0;
    margin-top: 100px;
    animation: 1s slidefade 1s forwards;
}

@keyframes slidefade {
    100% {
        opacity: 1;
        margin-top: 0px;
    }
}

@media (max-width: 800px) {
    .hero {
        min-height: 600px;
    }
    .hero h1 {
        font-size: 48px;
    }
    .hero h3 {
        font-size: 24px;
    }
    .hero a.btn {
        padding: 15px 40px;
    }
}

/*Destinations Section*/

.destinations .grid li {
    height: 350px;
    padding: 20px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;

}


.destinations .grid li.small {
    flex-basis: 30%;
}

.destinations .grid li.large {
    flex-basis: 70%;
}

@media (max-width: 1100px) {
    .destinations .grid li.small,
    .destinations .grid li.large {
        flex-basis: 50%;
    }

}

@media (max-width: 800px) {
    .destinations .grid li.small,
    .destinations .grid li.large {
        flex-basis: 100%;
    }

}





/*Under choose sport section*/

.culture-dtails h3 {
  color:black;
  font-size: 35px;
  font-family: 'eb_garamondregular';
  margin-bottom: 30px;
}

 .culture-dtails.white-sec h3 {
  color: #260000;
}

.culture-dtails p {
  color:black;
 /* word-break: break-all;*/
  font-family: 'alegreya_sansregular';
}

.culture-dtails.white-sec p {
  color: #260000;
}

.culture-dtails a {
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  font-family: 'alegreya_sansmedium';
  position: relative;
  background: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  box-shadow: inset 0px 0px 0px 2px powderblue;
  width: 126px;
  height: 40px;
  overflow: hidden;
}

.culture-dtails.white-sec a {
  color: #000000;
  box-shadow: inset 0px 0px 0px 2px black;
}

.culture-dtails a::before,
.culture-dtails a::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
  background: black;
}

.culture-dtails.white-sec a::before,
.culture-dtails.white-sec a::after {
  background: white;
}

.culture-dtails span::before,
.culture-dtails span::after {
  content: "";
  width: 2px;
  height: 0;
  position: absolute;
  transition: all 0.2s linear;
  background: black;
}

.culture-dtails.white-sec span::before,
.culture-dtails.white-sec span::after {
  background: white;
}

.culture-dtails a:hover::before,
.culture-dtails a:hover::after {
  width: 100%;
}

.culture-dtails a:hover span::before,
.culture-dtails a:hover span::after {
  height: 100%;
}

 .culture-dtails a .hide-txt {
  opacity: 0;
  left: 0px;
  transition: .5s;
  transform: translateY(-50%);
  margin: 0;
  position: absolute;
  bottom: -20px;
  width: 100%;
  text-align: center;
  font-size: 16px;
}

.culture-dtails a .show-txt {
  top: 50%;
  opacity: 1;
  transition: .5s;
  bottom: inherit;
  transform: translateY(-50%);
}

.culture-dtails a:hover .hide-txt {
  opacity: 1;
  transition: .5s;
  bottom: 50%;
  transform: translateY(50%);
}

 .culture-dtails a:hover .show-txt {
  opacity: 0;
  top: -20px;
  transition: .5s;
  transform: translateY(-50%);
}

.culture-dtails a::after {
  left: 0;
  bottom: 0;
  transition-delay: 0.4s;
}

.culture-dtails a span::after {
  transition-delay: 0.2s;
  right: 0;
  bottom: 0
}

.culture-dtails a::before {
  left: 0;
  top: 0;
  transition-delay: 0.2s;
}

.culture-dtails a span::before {
  transition-delay: 0.4s;
  left: 0;
  bottom: 0;
}

.culture-dtails a:hover::after {
  transition-delay: 0s;
}

.culture-dtails a:hover span::after {
  transition-delay: 0.2s;
}

.culture-dtails a:hover::before {
  transition-delay: 0.2s;
}

.culture-dtails a:hover span::before {
  transition-delay: 0s;
}

.culture-item {
  overflow: hidden;
  transition: .5s;
}

.culture-item:hover .culture-img {
  transition: 1s;
  transform: scale(1.3);
}

.culture-img {
  overflow: hidden;
  transition: 1s;
}


/*End of Under choose sport section*/




/*Packages Section*/

.packages .grid li {
    padding: 50px;
    flex-basis: 50%;
    text-align: center;
}

.packages .grid li i {
    color: #8c9eff;
}

.packages .grid li h4 {
    font-size: 30px;
    margin: 25px 0;
}

@media (max-width: 800px) {
    .packages .grid li {
        flex-basis: 100%;
        padding: 20px;
    }

}

/*Contact Section*/

.contact form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;

}

.contact form .btn {
    padding: 15px;
}

.contact form input {
    padding: 15px;
    margin-right: 30px;
    font-size: 18px;
    color: white;
    flex: 1;
}

@media (max-width: 1000px) {
   .contact form input {
       flex-basis: 100%;
       margin: 0 0 20px 0;
   }
