@media (min-width: 1200px) and (max-width: 1600px) {
.plannerdiv{
	width: 1000px;
    position: relative;
    margin: auto;
}




  .banner-sec .nav-tabs .nav-item.nav-link {
    padding: 20px 18px;
    font-size: 14px;
  }
  .planitinerary-cnt {
    /*right: 128px;
        width: 40%;*/
    /*right: 182px;
    width: 36%;*/
  }
  #tabs {
    height: 100vh;
    overflow: hidden;
  }
  .banner-sec {
    height: 100vh;
  }
  .header .navbar .navbar-nav .nav-link {
    font-size: 15px;
    padding-right: 50px;
    letter-spacing: 1px;
  }
  .event-left-cnt {
    padding-left: 140px;
  }
  p.events-para {
    padding-right: 125px;
  }
  .lotusimg {
    right: -96px;
    width: 190px;
  }
  .event-slider {
    margin: 62px;
  }
}

@media (min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1199.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {
  .header .navbar-brand {
    margin-left: 30px;
  }
  .header .navbar-brand img {
    width: 100px;
  }
  .header .navbar .navbar-nav .nav-link {
    padding: 30px 40px 26px 0px;
    font-size: 14px;
  }
  .notification-sec {
    right: 0;
    top: 150px;
    width: 300px;
    height: 75px;
  }
  .notification {
    width: 100%;
    right: 0;
    height: 62px!important;
    padding: 10px;
    min-height: 80px!important;
    z-index: 999
  }
  .notification p {
    font-size: 14px;
    margin-bottom: 0px;
  }
  .notification h2 {
    font-size: 22px;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
  .notification h5 {
    font-size: 15px;
  }
  .noti-icon {
    border-radius: 6px 0px 0px 6px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    z-index: 9999;
  }
  .noti-icon img {
    width: 50%;
  }
  .banner-sec .nav-tabs {
    width: 70%;
    margin-left: 30px;
  }
  .banner-sec .nav-tabs .nav-item.nav-link span {
    line-height: 45px;
  }
  .banner-sec .nav-tabs .nav-item.nav-link {
    font-size: 12px;
    height: 45px;
  }
  .planitinerary-cnt {
    bottom: -302px;
    right: 32px;
    width: 345px;
    padding: 15px;
    z-index: 999;
    opacity: 1;
    visibility: visible;
    min-height: 285px;
  }
  .planitinerary-btn {
    line-height: 1;
    font-size: 18px;
  }
  .planitinerary-cnt.show-form {
    bottom: -302px;
  }
  .header.fixed-header .navbar-brand img {
    width: 63px;
  }
  .gal-item.img-1 {
    width: 83%;
  }
  .gal-item.img-2 {
    width: 70%;
  }
  .gal-cnt-right {
    margin-top: 300px;
  }
  .gal-item.img-3 {
    width: 100%;
  }
  .gal-item.img-4 {
    width: 80%;
  }
  .planitinerary-select .nice-select {
    width: 49%;
    font-size: 12px;
    padding-top: 10px;
    height: 50px;
    padding: 8px;
  }
  .planitinerary-select .nice-select:after {
    right: 10px;
    top: 55%;
  }
  .destination-gallery {
    padding-bottom: 150px;
  }
  .event-left-cnt {
    padding-left: 0px;
    padding: 15px 15px 40px;
  }
  p.events-para {
    padding: 0px;
  }
  .lotusimg {
    bottom: 3%;
    width: 130px;
  }
  .event-slider {
    margin: 0px;
  }
  .event-slider .owl-stage {
    left: 0;
  }
  .owl-item .eventsslide-item {
    background: #180000;
    margin-top: 33px;
  }
  .owl-item .eventsslide-item img {
    opacity: 1;
  }
  .events-sec .btns {
    bottom: 110px;
    left: 50%;
    transform: translateX(-50%);
  }
  .slider-line {
    margin: 70px auto 70px;
    width: 80%;
  }
  .events-sec .slide-arrow {
    margin: 5px;
  }
  .events-sec .col-sm-6 {
    padding: 0 15px;
  }
  .header .navbar .navbar-nav li.nav-item.search-item .nav-link i.fa {
    font-size: 17px;
    margin-right: 10px;
  }
  .video-sec {
    max-width: 1255px;
    margin: 60px auto 100px;
  }
.heritage-sec .heritage-img img {
    max-height: 300px;
}
  a.btn.events-btn {
    padding: 15px 30px;
  }
  .rvs-container.rvs-xs.rvs-sm {
    padding-right: 200px;
}
  .rvs-xs.rvs-sm .rvs-nav-container {
      width: 200px;
  }
.video-sec {
  padding: 0px 15px;
}
.video-sec .rvs-nav-container span.rvs-nav-item-thumb {
    width: 70px;
    height: 60px;
    display: block;
    margin-left: 0px;
}
.rvs-nav-container a.rvs-nav-item {
    padding: 0px;
    border: none;
    display: flex;
    align-items: center;
}
a.rvs-nav-item p {
    font-size: 14px;
    margin: 0px;
    color: #250000;
    line-height: 19px;
}
a.rvs-nav-item p span {
  display: none;
}
.heritage-title img {
    width: 28%;
}
.js-tabs .heritage-title {
    left: -47px;
}
.heritage-sec {
  padding-left: 80px;
}
.header .row,
.header .row,
.destination-gallery .row,
.video-sec .row,
.heritage-sec .row,
.stories-sec .row,
.social-feeds-sec .row,
.footer .row{
    margin: 0px auto;
}
}

@media (min-width: 768px) {
  .hotspotcontent-sec .row>.col-sm-4 {
    padding-right: 0;
  }
  .hotspotcontent-sec .row>.col-sm-8 {
    padding-left: 0;
  }
}
@media (max-width: 768px) {
  .menu-icon {
    display: block;
}
.collapse-menu {
    display: block;
    background-image: linear-gradient(174deg, #860038 33%, #d00936 112%);
    height: 100vh;
    position: fixed;
    right: -100%;
    top: 0;
    z-index: 99999;
    width: 250px;
    box-shadow: 0px 5px 10px rgba(71, 69, 69, 0.5);
    transition: .5s;
}
.collapse-menu.show-hide-menu {
    right: 0;
}
.menu-icon {
    display: block;
    background: #c00737;
    border: none;
    width: 50px;
    height: 45px;
    border-radius: 5px;
    margin: 11px;
}
.menu-icon img {
    width: 100%;
}
.header .navbar-menu {
    border-bottom: none;
    padding: 0px;
    margin: 0px;
    display: block;
}
.header .navbar-menu .nav-link {
    padding: 18px;
    border-bottom: #ffffff29 1px solid;
    display: flex;
    align-items: center;
    position: relative;
}
.close-rt-pnl {
    width: 40px;
    height: 40px;
    text-align: center;
    color: #fff;
    background: #a2043891;
    line-height: 40px;
    border-radius: 50%;
    margin: 10px;
    display: block;
}
.multi-drodown {
    position: relative;
    transform: translateX(-50%) scaleY(1);
    opacity: 1;
    visibility: visible;
    padding: 0px;
    overflow-y: scroll;
    height: 0px;
    transition: height 0.4s linear;
    overflow-x: hidden;
}
.header .navbar-menu .nav-item.active-toggle .multi-drodown {
     height: 500px; 
     transition: height 0.4s linear;
}
.multi-drodown .row {
    padding: 10px 15px;
}
.header .navbar-menu .nav-link:hover {
    color: #ffffff;
    transition: .2s;
}
.header .navbar-menu .nav-link span {
    font-size: 20px;
    transition: .5s;
    display: block;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}
.header .navbar-menu .nav-link.active span {
    transform: translateY(-50%) rotate(90deg);
}
.inner-header .navbar-menu .nav-link {
    color: #ffffff;
}
.header.fixed-header .navbar-menu .nav-link {
    color: #ffffff;
}


.single_sub_menu {
  width: 90% !important;
   padding: 0px !important;
   left: 50% !important;
    
}


.planning_sub_menu {
  width: 90% !important;
   padding: 0px !important;
   left: 50% !important;
}



}
@media (min-width: 576px) and (max-width: 767.98px) {}

@media (max-width: 575.98px) {

.single_sub_menu {
  width: 90% !important;
   padding: 0px !important;
   left: 50% !important;
    
}


.planning_sub_menu {
  width: 90% !important;
   padding: 0px !important;
   left: 50% !important;
}
.video_control {
    bottom: 50px;
    left: 10px;
}
  .header .navbar-brand {
    margin-left: 10px;
  }
  .header .navbar-brand {
    width: 16%;
  }
  .header .navbar-brand img {
    width: 100%
  }
  .close-pop {
    right: 10px;
    top: 10px;
  }
  .ser-input {
    width: 90%;
  }
  .ser-input .form-control {
    font-size: 29px;
  }
  .banner-sec .nav-tabs {
    margin: 0px;
    width: 100%;
    padding: 0px 5px;
  }
  .ser-triger {
    font-size: 18px;
    transform: translateY(-50%);
  }
  .banner-sec .nav-tabs .nav-item.nav-link {
    font-size: 9px;
    height: 34px;
    letter-spacing: 1px;
    padding: 0px;
  }

  .banner-sec .nav-tabs .nav-item.nav-link span {
    line-height: 34px;
  }
  .notification-sec {
    right: 0;
    top: 80px;
    width: 219px;
    height: 67px;
  }
  .notification {
    width: 100%;
    right: 0;
    height: 62px!important;
    padding: 10px;
    min-height: 67px!important;
    z-index: 999
  }
  .notification p {
    font-size: 10px;
    margin-bottom: 0px;
  }
  .notification h2 {
    font-size: 15px;
    padding-bottom: 3px;
    margin-bottom: 0px;
  }
  .notification h5 {
    font-size: 14px;
  }
  .noti-icon {
    border-radius: 6px 0px 0px 6px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    z-index: 9999;
  }
  .noti-icon img {
    width: 100%;
  }
  .header .navbar .navbar-nav {
    background: #eaeeef;
  }
  .header .navbar .navbar-nav .nav-link {
    padding: 20px;
    color: #44040b;
    font-size: 14px;
    border-bottom: #e8e9e9 1px solid;
  }
  .header .navbar-dark .navbar-toggler {
    margin: 18px 10px 0px 0px;
    background: #d9254d;
    padding: 4px;
    border-radius: 2px;
  }
  .header .navbar-dark .navbar-toggler-icon {
    background-image: url(../images/menu-icon.png);
    height: 24px;
    background-size: contain;
  }
  .header li.nav-item {
    position: relative;
}

  #tabs {
    position: relative;
  }
  .planitinerary-cnt {
    position: relative;
    bottom: 0px;
    right: 0;
    width: 100%;
    visibility: visible;
    opacity: 1;
  }
  .planitinerary-select {
    flex-flow: wrap;
  }
  .planitinerary-select .nice-select {
    width: 100%;
    margin-bottom: 15px;
  }
  .planitinerary-cnt.show-form {
    bottom: 0;
  }
  .header.fixed-header .navbar-brand img {
    width: 100%;
  }
  .gal-cnt-right {
    margin-top: 0px;
  }
  .gal-item {
    width: 100%!important;
  }
  .destination-gallery {
    padding-bottom: 100px;
  }
  .event-left-cnt {
    padding-left: 0px;
    padding: 15px 15px 130px;
  }
  p.events-para {
    padding: 0px;
  }
  .lotusimg {
    bottom: 36%;
    width: 180px;
  }
  .event-slider {
    margin: 0px;
  }
  .event-slider .owl-stage {
    left: 0;
  }
  .owl-item .eventsslide-item img {
    opacity: 1;
  }
  .events-sec .btns {
    bottom: 110px;
    left: 50%;
    transform: translateX(-50%);
  }
  .slider-line {
    margin: 70px auto 70px;
    width: 80%;
  }
  .events-sec .slide-arrow {
    margin: 5px;
  }
  .events-sec .col-sm-6 {
    padding: 0 15px;
  }
  .stories-cnt .col-sm-4 {
    padding: 0px 15px;
  }
  .social-feeds-cnt .col-sm-3,
  .social-feeds-cnt .col-sm-6 {
    padding: 0px 15px;
  }
  .video-sec {
    max-width: 1255px;
    margin: 60px auto;
    overflow: hidden;
    padding-bottom: 100px;
  }
  .video-sec .rvs-container {
    padding-right: 0px!important;
  }
  .video-sec .video-sec .rvs-item-container {
    margin: 0px;
  }
  .video-sec .rvs-nav-container {
    width: 100%;
    height: 56px;
    bottom: -56px;
    top: inherit;
  }
  .video-sec .rvs-animate .rvs-item-stage,
  .video-sec .rvs-animate .rvs-nav-stage {
    display: flex;
  }
  .video-sec .rvs-container a.rvs-nav-item:hover {
    background: transparent;
  }
  .video-sec .rvs-container a.rvs-nav-item.rvs-active {
    background: transparent;
  }
  .video-sec .rvs-nav-container span.rvs-nav-item-thumb {
    display: block;
    height: 50px;
  }
  .rvs-nav-container a.rvs-nav-item {
    border: none;
    background: transparent;
  }
  .video-sec .rvs-item-container {
    margin: 0px;
  }
  .video-sec .rvs-container a.rvs-nav-item p {
    display: none;
  }
  .heritage-sec {
    max-width: 1100px;
    margin: 0px auto 145px;
    padding-left: 50px;
  }
  .js-tabs .heritage-title {
    position: absolute;
    left: -36px;
    top: 12px;
  }
  .heritage-title img {
    width: 20%;
  }
  .heritage-sec .ui-tabs .ui-tabs-nav li {
    width: 55px;
    height: 55px;
    margin: 5px;
  }
  .heritage-sec .ui-tabs .ui-tabs-nav {
    margin-top: -49px;
  }
  .heritage-sec {
    margin: 0px auto 65px;
  }
  .heritage-sec .heritage-img img {
    max-height: 165px;
  }
  .title {
    font-size: 28px;
  }
  .stories-sec {
    padding: 50px 0px;
  }
  .social-items {
    margin-bottom: 5px;
  }
  .social-feeds-sec {
    padding: 80px 0px 80px;
  }
  .social-feeds-sec {
    overflow: hidden;
  }
  .stories-sec {
    overflow: hidden;
  }
  .footer-abo {
    font-size: 30px;
    bottom: 35px;
    left: 73px;
    width: 70%;
  }
  .footer-social {
    padding: 0px 15px;
  }
  .address {
    padding: 0px 15px;
  }
  .quick-links {
    padding: 0px 15px;
  }
  .copyright {
    padding: 0px 15px;
    font-size: 14px;
    margin: 0px;
  }
  .footer-logo {
    width: 45%;
  }
  .footer-logo img {
    width: 100%;
  }
  .related-slider .owl-nav>div {
    width: 32px;
    height: 32px;
    font-size: 19px;
    top: 40%;
  }
  .heritage-sec .js-tabs .heritage-list {
    margin-top: -60px;
  }
  .heritage-sec .js-tabs .heritage-list li {
    height: 62px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .cultures-container .nav-tabs .nav-link {
    padding: 13px 18px;
    border: #850037 1px solid;
    margin: 5px;
    font-size: 15px;
  }
  .culture-dtails.pr-100,
  .culture-dtails.pl-100 {
    padding: 0;
  }
  .culture-item {
    margin-bottom: 25px;
  }
  .cultures-container .culture-dtails h3 {
    font-size: 30px;
  }
  .cultures-container .mb-70 {
    margin-bottom: 0px;
  }
  /*================Explore section=====================*/
  .explore-banner {
    margin-top: 82px;
    min-height: 250px;
  }
  .explore-banner-txt h2 {
    font-size: 30px;
  }
  .explore-banner-txt h3 {
    font-size: 20px;
  }
  .explore-container .explore-nav {
    flex-flow: wrap;
    justify-content: flex-end;
    padding: 0px;
  }
  .explore-container .nav-tabs .nav-link {
    font-size: 13px;
    padding: 14px 20px;
    border: #76033347 1px solid;
    margin: 5px;
  }
  .explore-container .explore-select-month .nice-select {
    padding-left: 50px;
    padding-right: 15px;
  }
  .explore-container .explore-overly {
    padding: 15px;
  }
  .explore-container .explore-overly h3 {
    margin-bottom: 5px;
    font-size: 25px;
    text-transform: uppercase;
  }
  .explore-container .explore-overly h3 span {
    font-size: 18px;
  }
  .explore-container .explore-overly-items>p {
    margin-bottom: 7px;
  }
  .explore-select-month {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background: #e8e5e0;
  }
.explore-select-month .nice-select .list {
    right: 0;
    width: 152px;
    left: initial;
}


  span.close-menu {
    color: #48011e;
    background: #fff;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    display: block;
    line-height: 30px;
    text-align: center;
    margin: 10px 0px 0px 10px;
  }
  .collapsing {
    position: absolute;
    height: auto;
    overflow: hidden;
    transition: height 0s;
  }
  .events-banner {
    margin-top: 72px;
  }
  .events-banner-video video {
    height: 200px;
  }
  .playpause {
    font-size: 60px;
  }
  .eventslisting-heading {
    margin: 30px 0px;
  }
  .eventslisting-heading h2 {
    font-size: 20px;
    letter-spacing: 4px;
  }
  .eventslisting-heading {
    padding: 0px 15px;
  }
  .eventslisting-container .eventslisting-nav {
    flex-flow: wrap;
    padding: 15px;
  }
  .eventslisting-container .nav-tabs {
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 15px;
    justify-content: space-between;
  }
  .eventslisting-container .nav-tabs .nav-link {
    padding: 15px;
    font-size: 14px;
  }
  .eventslisting-select-month {
    width: 100%;
  }
  .eventslisting-select-month .nice-select {
    width: 100%;
  }
  .eventslisting-para {
    width: 100%;
  }
  .eventslisting-date p {
    width: 100%;
  }
  .eventslisting-date {
    margin-bottom: 16px;
  }
  .fancybox-content {
    padding: 0px;
  }
  .fancybox-slide--html {
    padding: 0px;
  }
/*culture*/
.culture-banner-img {
    background-size: contain;
    min-height: 186px;
}
/*hotspots*/
.hotspots-banner.inner-banner {
    margin-top: 72px;
}
.hotspots-slide {
  height: auto;
}
.hotspottitle-sec {
    padding: 30px 0 40px;
}
.hotspotcontent-sec ul.nav-tabs {
  justify-content: space-around;
}
.hotspotcontent-sec ul.nav-tabs li.nav-item {
  padding: 0px;
}
.hotspotcontent-sec ul.nav-tabs a.nav-link {
  border: #fbe0b2 1px solid;
  margin-bottom: 5px;
}
.hotspotcontent-sec .hotspot-tab-content {
    padding: 10px;
}
ul.hotspot-ul {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
}
.hotspotcontent-sec {
    overflow: hidden;
}
.hotspots-banner-slider .hotspots-banner-txt {
  padding-bottom: 55px;
}
.hotspots-banner-txt h2 {
  font-size: 22px;
}
.hotspots-banner-slider .owl-dots {
  bottom: 8px;
}

.dst-banner {
    margin-top: 72px;
}
.dst-banner .dst-img img {
    width: 100%;
}
.dst-cnt {
    position: relative;
    background: rgba(38, 0, 0, 0.75);
    padding: 15px;
    width: 95%;
    margin: 0px auto;
    margin-top: -20%;
    transform: initial;
    margin-bottom: 50px;
}
.dst-banner-title h2 {
  font-size: 20px;
}
ul.dst-list li {
  margin-bottom: 15px;
}
.ancient-sec {
    margin-bottom: 55px;
}
.ancient-txt h2 {
  font-size: 26px;
}
.ancient-txt {
    padding: 50px 15px;
    border: none;
}
.ancient-tab .nav-tabs {
    display: flex;
    justify-content: space-around;
    margin: 0px;
    margin-bottom: 35px;
    flex-flow: nowrap;
}
.ancient-sec .row {
    margin: 0px;
}
.ancient-tab .nav-tabs .nav-link {
  font-size: 14px;
}
.ancient-tab .ancient-list {
  flex-flow: nowrap;
}
.ancient-tab .ancient-tab-img {
    width: 100px;
    margin-right: 15px;
}
.ancient-tab .ancient-tab-dtl h3 {
    font-size: 20px;
    margin-bottom: 10px;
}
.ancient-txt {
    padding: 0px;
}
.title {
    font-size: 23px;
}
.dst-container .row {
    margin: 0px;
}
.dst-container .pr-0 {
    padding-right: 15px!important;
}
.places-items {
    width: 100%;
    margin: 0px;
    margin-bottom: 5px;
}
.btn.inner-btn.places-btn {
    margin: 15px;
}
.accomodation-sec {
  padding: 0px;
}
.acco-items {
    margin: 0px;
    margin-bottom: 15px;
}
.accomodation-sec {
    margin-bottom: 80px;
    padding: 0px 15px;
}
.rstrn-dtl {
  height: auto;
}
.rstrn-overly {
  padding: 15px;
}
.rstrn-slide-area .owl-nav .owl-prev {
    margin-left: 0px;
}
.rstrn-slide-area .owl-nav .owl-next {
    margin-right: 0px;
}
.dst-container .pd-0 {
    padding: 0px 15px;
}
.dst-container .pl-0 {
    padding-left: 15px!important;
}
.rstrn-slide-area .owl-stage {
  margin: 0px;
}
.rstrn-slide-area .owl-nav {
  top: 60%;
}
.nearby-sec {
    padding-bottom: 60px;
    padding-top: 50px;
}
.nearby-items {
    margin: 0px;
    margin-bottom: 20px;
    padding: 0px 15px;
}
.travel-sec  {
  padding-bottom: 50px;
}
.travel-items {
    margin-bottom: 15px;
}
.restaurants-sec {
    padding-bottom: 0;
}

.event-details .weather-update {
    margin-right: 20px;
}
.poplr-evnts-sec .row {
    margin: 0px;
}
.poplr-ev-cnt .poplr-dtl {
    width: 100%;
    text-align: center;
}
.poplr-ev-cnt .poplr-img {
    margin: 0px auto;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 15px;
}
.places-item-1 img {
    height: auto;
}
.how-reach-sec .col-sm-4 {
    padding: 0px 15px;
}
.how-reach-item {
    margin-bottom: 15px;
}
.how-reach-sec {
    margin-bottom: 0px;
}
.event-details .dst-cnt {
    padding: 15px;
}
.weather-update img {
    width: 50px;
}
.places-sec {
    margin-bottom: 40px;
}

/*================blog==============*/

.blog-ban {
    margin-top: 90px;
}
.blog-ban-dtl h2 {
    color: #44040b;
    font-size: 26px;
    font-family: eb_garamondsemibold;
    margin: 0px;
    margin-bottom: 20px;
}
.blog-profile {
    margin-bottom: 10px;
}
.blog-profile-dtl h4 {
    font-size: 20px;
}
.view-txt p {
    margin-bottom: 20px;
}
.blog-profile-dtl p {
    font-size: 14px;
}
.blog-dtl-cnt {
    padding-right: 0px;
}
.blog-social ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.blog-social ul li a {
    margin: 0px;
    font-size: 18px;
}
.blog-dtl-cnt h3 {
    margin-bottom: 12px;
    font-size: 22px;
}
.blog-bttm-cnt {
    padding: 10px;
}
.blog-bttm-cnt p {
    font-size: 15px;
    margin: 0px;
}
.blog-bttm-cnt h4 {
  font-size: 22px;
}
.categorie {
    border-left: none;
    padding-left: 0px;
    height: auto;
}
.responsive-reverse {
  flex-direction: column-reverse;
}
.lightbox-slide-area {
    padding: 15px;
}
.lightbox-close {
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    z-index: 99;
}
}


@media (max-width: 575.98px)
{
	.plannerdiv {
		width: 100%;
	}


	.loginmenudesktop{
		display:none;
	}

	.loginmenumobile{
		display:block;
	}
}


@media (min-width: 575.99px)
{
	.loginmenudesktop{
		display:block;
	}

	.loginmenumobile{
		display:none;
	}
}